.header-container {
  display: flex;
  justify-content: center;
  margin: 0px 15px 0px 15px;
  align-items: center;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color);
}

.logo-title {
  color: var(--orange-color);
  font-size: 24px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-item a {
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: var(--font-color-white);
  font-weight: bold;
  border-bottom: 2px solid var(--orange-color);
}

.btn-default {
  background-color: var(--orange-color);
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--font-color-white);
  cursor: pointer;
  transition: all 0.3s ease;

}