.header-container {
  display: flex;
  justify-content: center;
  margin: 0px 15px 0px 15px;
  align-items: center;
  height: 90px;
  z-index: 1000;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
}

.logo-title {
  color: var(--orange-color);
  font-size: 24px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-item a {
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: var(--font-color-white);
  font-weight: bold;
  border-bottom: 2px solid var(--orange-color);
}

.btn-default {
  background-color: var(--orange-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--font-color-white);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  gap: 6px;
  z-index: 1100;
  padding: 10px;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--orange-color);
  transition: all 0.3s ease;
  border-radius: 4px;
}

@media (max-width: 587px) {
  .header-container {
    justify-content: space-between;
    margin: 0 20px;
  }

  .menu-hamburger {
    display: flex;
  }

  .nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    z-index: 1050;
  }

  .nav-list.open {
    right: 0;
  }

  .nav-item a {
    font-size: 1.5rem;
  }

  /* Animação para transformar o hambúrguer em "X" */
  .menu-hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
